$primary: #4b2e2b;     
$secondary: #6f4e37;   
$accent: #c19a6b;      
$light: #f5f1ea;       
$dark: #2f1b12;  

$textdes: #5a5a5a;

$container: 1920px;

$font-main: "Arial", sans-serif;

$radius: 10px;